html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.zitem-enter {
  opacity: 0;
}
.zitem-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.zitem-exit {
  opacity: 1;
}
.zitem-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

